<h4>Customer <%= view_model.customer_identifier %></h4>

<div class="col-md-4">
  <dl>
    <dd><%= view_model.name %></dd>
    <dd><%= view_model.address %></dd>
  </dl>
  <dl>
    <dt>Phone number</dt>
    <dd><%= view_model.phone %></dd>
  </dl>
  <dl>
    <dt>Email</dt>
    <dd><%= view_model.email %></dd>
  </dl>
</div>
