<% if duplicates_by_name %>
  <h4>Duplicates by name</h4>
  <% if duplicates_by_name.blank? %>
    Not found
  <% else %>
    <% duplicates_by_name.each do |customer| %>
      <%= link_to customer.id, edit_admin_customer_path(customer.id), :target => "_blank" %>
      <%= customer.full_name %>,
      <%= customer.address %>,
      <%= customer.email %>
      <%= customer.phone %><br>
    <% end %>
  <% end %>
<% end %>

<% if duplicates_by_address %>
  <h4>Duplicates by address</h4>
  <% if duplicates_by_address.blank? %>
    Not found
  <% else %>
    <% duplicates_by_address.each do |customer| %>
      <%= link_to customer.id, edit_admin_customer_path(customer.id), :target => "_blank"%>
      <%= customer.full_name %>,
      <%= customer.address %>,
      <%= customer.email %>
      <%= customer.phone %><br>
    <% end %>
  <% end %>
<% end %>
