<h4>Order <%= view_model.order_identifier %></h4>
<% form = view_model.form %>
<%= form_for [:admin, form], url: admin_customer_order_path(view_model.customer_id, view_model.order_id), method: :put, html: {id: view_model.form_id, remote: true, role: 'form'} do |f| %>
  <div class="col-md-4">
    <dl>
      <dt>Date ordered:</dt>
      <dd><%= view_model.date_ordered %></dd>
    </dl>
    <dl>
      <dt>Method received:</dt>
      <dd><%= f.select :method_received, methods_received_for_select(form), {}, class: "form-control" %></dd>
    </dl>
    <dl>
      <dt>How heard:</dt>
      <dd><%= f.select :method_of_discovery, discovery_methods_for_select(form), {}, class: "form-control" %></dd>
    </dl>
  </div>
  <div class="col-md-8">
    <dl>
      <dt>Titles requested:</dt>
      <dd class="error_msg"><%= form.errors[:item_ids].join %></dd>
      <dd><%= f.select :item_ids, items_for_select(view_model), {}, multiple: 'multiple', size: 6, class: "form-control" %></dd>
    </dl>
  </div>
  <div class="col-md-12">
    <%= f.submit "Update order", class: 'btn btn-success' %>
    <%= link_to "Cancel order", admin_customer_order_path(view_model.customer_id, view_model.order_id), method: :delete, remote: true, class: 'btn btn-warning' %>
  </div>
<% end %>
