<div class="col-md-6">
    <%= form_tag(find_duplicate_admin_customer_path(view_model.customer_id), method: :get, id: "find-customer-form", remote: true) do %>
      <%= label_tag :customer_id, 'Customer #' %>
      <%= text_field_tag :customer_id %>
      <%= submit_tag "Look up customer", class: 'btn btn-default' %>
    <% end %>
    <% view_model.merged_customer_views.each do |merged_customer_view| %>
      <div class="row">
        <%= render 'customer', view_model: merged_customer_view %>
      </div>
    <% end %>
    <%= link_to "Merge another customer into this one", '#', class: 'btn btn-default', id: 'find-customer-to-merge' %>
  </div>
  <div id="merge-preview" class="col-md-6"></div>
