<%= form_for [:admin, @order], html: {role: "form", class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <div class="col-xs-2">
      <%= f.required_label :title, class: "control-label"%>
      <%= f.select :title, options_for_select(['Mr', 'Mrs', 'Ms'], @order.title), {include_blank: true}, class: "form-control"%>
    </div>
    <div class="col-xs-3">
      <%= f.required_label :first_name, class: "control-label" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="col-xs-3">
      <%= f.required_label :last_name, class: "control-label" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-8">
      <%= f.required_label :address, label_text: "Postal Address", class: "control-label" %>
      <%= f.text_field :address, class: "addressfinder_widget form-control", placeholder: "Start typing to see a list of addresses to choose from" %>
      <%= f.hidden_field :suburb %>
      <%= f.hidden_field :city_town %>
      <%= f.hidden_field :post_code %>
      <%= f.hidden_field :pxid %>
      <%= f.hidden_field :ta %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4">
      <%= f.label :phone, class: "control-label" %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>
    <div class="col-xs-4">
      <%= f.label :email, class: "control-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4">
      <%= f.label :method_received, class: "control-label"%>
      <%= f.select :method_received, options_for_select(method_received_options, @order.method_received), {include_blank: true}, class: "form-control"%>
    </div>
    <div class="col-xs-4">
      <%= f.label :method_of_discovery, class: "control-label"%>
      <%= f.select :method_of_discovery, options_for_select(method_of_discovery_options, @order.method_of_discovery), {include_blank: true}, class: "form-control"%>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox col-xs-4">
      <label for="order_tertiary_student">
	<%= f.check_box :tertiary_student %>Is the order for a tertiary student?
      </label>
    </div>
    <div id="tertiary_institution" class="col-xs-4">
      <%= f.label :tertiary_institution, class: "control-label" %>
      <%= f.text_field :tertiary_institution, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-8">
      <%= f.label :admin_notes, "Notes", class: "control-label" %>
      <%= f.text_area :admin_notes, class: 'form-control', rows: 4 %>
    </div>
  </div>
  <div class="form-group">
    <h4>Item(s)</h4>
    <div class="error_msg"><%= @order.errors[:item_ids].join %></div>
    <%= f.select :item_ids, items_for_select, {}, :multiple => 'multiple' %>
  </div>
  <div class="form-group">
    <div class="col-sm-4">
      <%= f.submit admin_order_form_save_button, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
