<h2>Search Orders</h2>

<%= render 'search' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created At</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Items</th>
      <th>Shipped At</th>
    </tr>
  <% @order_presenters.each do |presenter| %>
    <tr>
      <td><%= presenter.id %></td>
      <td><%= presenter.created_at %></td>
      <td><%= presenter.first_name %></td>
      <td><%= presenter.last_name %></td>
      <td><%= presenter.items %></td>
      <td><%= presenter.shipped_at %></td>
      <td>
	<div class='btn-group-vertical'>
	  <%= link_to 'Edit', edit_admin_order_path(presenter.id), class: 'btn btn-default' %>
	</div>
      </td>
    </tr>
  <% end %>
</table>
