
  <%= stylesheet_link_tag 'application', media: 'all' %>

 <section class="bg-primary-FAQ" id="recovery">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-2 text-center">
<br>
<br>
                    
                    <h2 class="section-heading text-center faq">Statement of Faith</h2>
                    <hr class="light">
                    <p class="text-justify faq">Throughout the centuries, translations of the Bible have steadily improved. In general, each new translation inherits from previous ones and opens the way for later ones. While a new translation derives help from its predecessors, it should go further. The Recovery Version of the New Testament, following the precedent set by the major authoritative English versions and taking these versions as reference, not only incorporates lessons learned from an examination of others' practices but also attempts to avoid biases and inaccurate judgments. This version, frequently guided by other versions, attempts to provide the best utterance for the revelation in the divine Word, that it may be expressed in the English language with the greatest accuracy.</p>

<p class="text-faded-underlined">A Proper Understanding</p>

<p class="text-faded">Translating the Bible depends not only on an adequate comprehension of the original language but also on a proper understanding of the divine revelation in the holy Word. Throughout the centuries the understanding of the divine revelation possessed by the saints has always been based upon the light they receive, and this understanding has progressed steadily. The consummation of this understanding forms the basis of this translation and its New Testament footnotes. Hence, this translation and the accompanying footnotes could be called the "crystallization" of the understanding of the divine revelation which the saints everywhere have attained to in the past two thousand years. It is our hope that the Recovery Version will carry on the heritage that it has received and will pave the way for future generations.<br>

<p class="text-faded-underlined">Features of the Recovery Version</p>

<p class="text-faded">The subject provided at the beginning of each book and the outline of each book take the historical facts as their base and express the spiritual meaning in each book. In the New Testament, the footnotes stress the revelation of the truth, the spiritual light and the supply of life more than history, geography, and persons. The Old Testament with footnotes should be available in 2001. The cross references lead not only to other verses with the same expressions and facts but also to other matters related to the spiritual revelation in the divine Word.</p>

<p class="text-faded">Material adapted from The New Testament Recovery Version, Witness Lee, ©1985, 1991.
 Used by permission of Living Stream Ministry, Anaheim, CA. All rights reserved.<br>





©2002-2010 Bibles For New Zealand. All rights reserved.
</p>
		<div class='btn-group-vertical'>
      <%= link_to 'Free Order', new_order_path, class: 'btn btn-default btn-xl' %>
    </div>
                 </div>
            </div>
        </div>
    </section>

    <%= javascript_include_tag 'jquery.js' %>
<%= javascript_include_tag 'bootstrap.min.js' %>

<%= javascript_include_tag 'jquery.easing.min.js' %>

<%= javascript_include_tag 'jquery.fittext.js' %>

<%= javascript_include_tag 'wow.min.js' %>
<%= javascript_include_tag 'creative.js' %>
