 <header>
        <div class="header-content">
            <div class="header-content-inner">

                <h1>Bibles for New Zealand</h1>
                <hr>
                <img src="BFNZ.jpg" alt="BFNZ Banner" style=width:20%;height:20%>
                <hr>
                <h2>A Book of Our Times</h2>
                <hr>
                <p>Know God and understand the Bible <br>in a deeper way</p>
                <a> <%= link_to 'Order Free here', new_order_path, class: 'btn btn-primary btn-xl page-scroll' %></a>
            </div>
        </div>
        
    </header>

    <section class="bg-primary2" id="about">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <hr class="light">
                    <h2 class="section-heading">A Brief Explanation</h2>
                    <hr class="light">
                    <p class="text-faded"><p>The Bible is the complete and only divine revelation.</p>

<p>God is eternally one. He is also eternally the Father, the Son, and the Spirit. These three are distinct but not separate.</p>

<p>Christ is both the complete God and the perfect man. He was divinely conceived in the womb of a human virgin, lived a genuine human life on earth, and died a vicarious and all-inclusive death on the cross. After three days He resurrected bodily and had ascended to the heavens. He is now in glory, still fully God and fully man. He will return to reign in the millennium and in eternity.<br></p>

<p>The Spirit, the third of the Trinity, is also God. All that the Father has and is, is expressed by the Son; and all that the Son has and is, is realized as the Spirit.<br>

<p>Man is unable to fulfill the requirements of God's righteousness, holiness, and glory, and thus is in need of God's salvation. Through Christ's death on the cross, which fulfilled all of God's requirements, God forgives, reconciles, and justifies those who believe in Jesus Christ and His work.<br></p>

<p>God regenerates the redeemed with His Spirit that they may become His children possessing His life and nature. The believers enjoy a daily salvation in His Body in this age and the eternal salvation in the coming age and in eternity.<br></p>

<p>In eternity all of God's redeemed elect will dwell with Him in the New Jerusalem, which is the consummation of God's salvation.<br></p>



		<div class='btn-group-vertical'>
      <%= link_to 'Order Free here', new_order_path, class: 'btn btn-default btn-xl' %>
    </div>
                 </div>
            </div>
        </div>
        <p class="text-pad">
    
</p>
    </section>

<section class="bg-primary" id="faith">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-2 text-center">
<br>
<br>
                    <h2></h2>
                    <h2 class="section-heading">Statement of Faith</h2>
                    <hr class="light">
                    <p class="text-faded">Throughout the centuries, translations of the Bible have steadily improved. In general, each new translation inherits from previous ones and opens the way for later ones. While a new translation derives help from its predecessors, it should go further. The Recovery Version of the New Testament, following the precedent set by the major authoritative English versions and taking these versions as reference, not only incorporates lessons learned from an examination of others' practices but also attempts to avoid biases and inaccurate judgments. This version, frequently guided by other versions, attempts to provide the best utterance for the revelation in the divine Word, that it may be expressed in the English language with the greatest accuracy.</p>

<p class="text-faded-underlined">A Proper Understanding</p>

<p class="text-faded">Translating the Bible depends not only on an adequate comprehension of the original language but also on a proper understanding of the divine revelation in the holy Word. Throughout the centuries the understanding of the divine revelation possessed by the saints has always been based upon the light they receive, and this understanding has progressed steadily. The consummation of this understanding forms the basis of this translation and its New Testament footnotes. Hence, this translation and the accompanying footnotes could be called the "crystallization" of the understanding of the divine revelation which the saints everywhere have attained to in the past two thousand years. It is our hope that the Recovery Version will carry on the heritage that it has received and will pave the way for future generations.<br>

<p class="text-faded-underlined">Features of the Recovery Version</p>

<p class="text-faded">The subject provided at the beginning of each book and the outline of each book take the historical facts as their base and express the spiritual meaning in each book. In the New Testament, the footnotes stress the revelation of the truth, the spiritual light and the supply of life more than history, geography, and persons. The Old Testament with footnotes should be available in 2001. The cross references lead not only to other verses with the same expressions and facts but also to other matters related to the spiritual revelation in the divine Word.</p>

<p class="text-faded">Material adapted from The New Testament Recovery Version, Witness Lee, ©1985, 1991.
 Used by permission of Living Stream Ministry, Anaheim, CA. All rights reserved.<br>





©2002-2010 Bibles For New Zealand. All rights reserved.
</p>
		<div class='btn-group-vertical'>
      <%= link_to 'Free Order', new_order_path, class: 'btn btn-default btn-xl' %>
    </div>
                 </div>
            </div>
        </div>
    </section>



    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br><br><br>
                    <h2 class="section-heading">The Highest Writing</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                        <h3>About the Bible</h3>
                        <p class="text-muted">The Bible stands above all other books in the world. It is a unique book. The sixteenth President of the United States of America, Abraham Lincoln, once said that "the Bible is the best gift God has ever given to man. All the good from the Savior of the world is communicated to us through this book." It is the world's most widely read book and has been translated into over one thousand languages, more than any other book in the world. Countless people have turned to the Bible for comfort, hope, and guidance during times of trouble and uncertainty. The word Bible comes from the Greek word biblos, which means "the book." This means that the Bible stands as the unique book among all other books in the world. It is the highest among all the classical writings in the West and in the East. The famous French writer Victor Hugo once said, "England has two books, the Bible and Shakespeare. England made Shakespeare, but the Bible made England."

</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>The Highest amoung all writings</h3>
                        <p class="text-muted">The first fact is that the Bible stands alone among all books in its record of authenticity. Many canons of other religions are filled with myths and legends. But within the pages of the Bible we find countless references to actual events, people, and places. The science of archaeology, along with secular historical records, confirms the precision of the references in the various biblical books. The attention to minute detail observed by the biblical writers is unparalleled in any other ancient literature.





</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Highest in Wisdom and Profoundness</h3>
                        <p class="text-muted">Second, the Bible bears the super wisdom concerning man's relationship with God and his relationship with his fellow man, his thought, his intention, his behavior, and his daily living. At the time of the Old Testament, most of the cultures on earth believed in polytheism, the belief in more than one God. The majority of the so-called gods were depicted as cruel, fierce, or at times even licentious. But the Bible reveals one unique God who is infinite and personal, who cares for human beings as a Father and a Husband, and who personifies love, respect, justice, and mercy. This is in contrast to other gods of the ancient world who were to be obeyed and served out of fear rather than from loving respect.


</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Highest in Ethics and Morality</h3>
                        <p class="text-muted">No other book contains as high a standard of ethics and morality as the Bible. It describes proper love as a human virtue, which suffers long, is kind, is not jealous, does not brag, and is not puffed up (1 Cor. 13:4). It defines love in the extending of forgiveness even to one's enemy (Matt. 5:44). It exemplifies love in God's own act of giving up His only Son for man (John 3:16). Christians are those who walk in love (Eph. 5:2), and the church is a community built up in love (Eph. 4:16).

The Bible also speaks of righteousness in its highest form. Whoever sheds man's blood, by man shall his blood be shed (Gen. 9:6), and all those who take up the sword shall perish by the sword (Matt. 26:52). God Himself renders to those who by endurance in good work seek for glory and honor and incorruptibility, life eternal, and He renders to those who are disobedient, wrath and fury (Rom. 2:6-8).


</p>
                    </div>
                </div>
               
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
    	<h2> <br> <br></h2>
        <h1 class = "faq" style= padding-left:100px;>Free Books Available Now</h1><br><br>
    	<p></p>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="/staticpages/Sample/#recovery" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                     The New Testament<br>
                                    Recovery Version
                                </div>
                                <div class="project-name">
                                    is a comprehensive study Bible accurately translated from the original Greek text into modern English. It features extensive notes emphasizing the revelation of the truth, outlines of each book, cross-references, charts and maps, and more.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Basic elements<br> of the<br>christian life
                                </div>
                                <div class="project-name">
                                  This series details the basic yet crucial elements of the life of a Christian, showing how each provides the foundation for a rich and meaningful Christian life. 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    The all inclusive christ
                                </div>
                                <div class="project-name">
                                    explains and applies the riches of the good land to our experience of Christ today.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    The Economy of God
                                </div>
                                <div class="project-name">
                                    is by Watchman Nee’s co-worker, Witness Lee. Lee shows from the Scriptures God’s eternal purpose and the way God is carrying out this purpose through His relationship with man.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    The glorious church
                                </div>
                                <div class="project-name">
                                    uses types of the church in the Bible to show us the church's origin, purpose, and destiny.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    The knowledge of Life
                                </div>
                                <div class="project-name">
                                    illuminates the path that leads to life, begining with regeneration and advancing to knowing the inward sense of life.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">

                <h2>ORDER YOUR FREE BOOKS HERE</h2>
               
      <%= link_to 'Free Order', new_order_path, class: 'btn btn-default btn-xl' %>
    


            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br><br><br><br><br><br>
                    <!--<img src="banner.png" alt="BFNZ Banner">-->
                    <br><br>
                    <h2 class="section-heading">Contact us at Bibles for New Zealand</h2>
                    <hr class="primary">
                    <h2 class="primary">
                        <img src="BFNZ.jpg" alt="BFNZ Banner">
                        <br><hr>
                        Bibles for New Zealand<br>PO Box 302746
                    <br>North Harbour<br>Auckland 0751<br>New Zealand<br><br></hr><br><br>


                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>0800 404080</p>
                      <hr>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <i class="icon-envelope-alt"></i>
                    <p><a href="mailto:info@biblesfornewzealand.org.nz">info@biblesfornewzealand.org.nz</a></p>
              
                <hr class="primary">
                <br><br>
               
                    
                

                <br><br><br><br><br><br><br><br><br><br><br><br><br>

                </div>
            </div>
        </div>
    </section>








<%= javascript_include_tag 'creative.js' %>




    <!-- jQuery -->
    <!-- <script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--

<%= javascript_include_tag 'jquery.js' %><script src="js/bootstrap.min.js"></script>-->

    <!-- Plugin JavaScript -->
    <!--<script src="js/jquery.easing.min.js"></script>-->
    <!--<%= javascript_include_tag 'jquery.fittext.js' %><script src="js/jquery.fittext.js"></script>-->
    <!--<script src="js/wow.min.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <!--<script src="js/creative.js"></script>-->
