    <%= stylesheet_link_tag 'application', media: 'all' %>

 <div class="container">
<div class="faq top-padding">


<h1>Free Order</h1>

<p>
To order your free books simply fill out the order form below.  Please note that Bibles
</p>
<p>
 for New Zealand can only service requests for the listed free books from New Zealand.
</p>
<p>
Please allow 2-4 weeks for delivery.
</p>

<%= form_for @order_form, url: orders_path, html: {role: "form", class: "form-horizontal"} do |f| %>

  <% if @order_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_form.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-xs-4 col-sm-4">
      <%= f.check_box :confirm_personal_order %>
      <%= f.required_label :confirm_personal_order, label_text: "I am ordering for myself only", class: "control-label"%>
    </div>
</div>

  <div class="form-group row">
    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-xlg-2">
      <%= f.required_label :title, class: "control-label"%>
      <%= f.select :title, options_for_select(['Mr', 'Mrs', 'Miss', 'Ms'], @order_form.title), {include_blank: true}, class: "form-control"%>
    </div>
  </div>
    <div class="form-group row">
    <div class="col-sm-6">
      <%= f.required_label :first_name, class: "control-label" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div></div>
  <div class="form-group row">

    <div class="col-sm-6">
      <%= f.required_label :last_name, class: "control-label" %>
      <%= f.text_field :last_name, class: "form-control" %>

  </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8">
      <%= f.required_label :address, label_text: "Postal Address", class: "control-label" %>
      <%= f.text_field :address, class: "addressfinder_widget form-control", placeholder: "Start typing to see a list of addresses to choose from" %>
      <%= f.hidden_field :suburb, class: "hidden-address suburb" %>
      <%= f.hidden_field :city_town, class: "hidden-address city_town" %>
      <%= f.hidden_field :post_code, class: "hidden-address post_code" %>
      <%= f.hidden_field :pxid, class: "hidden-address pxid" %>
      <%= f.hidden_field :dpid, class: "hidden-address dpid" %>
      <%= f.hidden_field :x, class: "hidden-address x" %>
      <%= f.hidden_field :y, class: "hidden-address y" %>
      <%= f.hidden_field :ta, class: "hidden-address ta" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-5">
      <%= f.label :phone, class: "control-label" %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>
    <div class="col-sm-5">
      <%= f.label :email, class: "control-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox col-sm-4">
      <%= f.label :tertiary_student do %>
        <%= f.check_box :tertiary_student, class: 'tertiary-institution-toggle' %>Are you a tertiary student?
      <% end %>
    </div>
    <div id="tertiary_institution" class="col-sm-8">
      <%= f.label :tertiary_institution, class: "control-label" %>
      <%= f.text_field :tertiary_institution, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <h4>Select the item(s) you would like to receive</h4>
    <div class="error_msg"><%= @order_form.errors[:item_ids].join %></div>
    <%= f.select :item_ids, active_items_for_select(@order_form), {}, id: 'item_list', class: 'imagepicker txtsize', multiple: 'multiple' %>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.label :further_contact_requested do %>
        <%= f.check_box :further_contact_requested, {}, @order_form.contact_wanted_value, @order_form.contact_not_specified_value %>
            I am interested in receiving guidance in using the recovery version to better understand the Bible
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4">
      <%= f.submit 'Place Order', class: "btn btn-primary" %>
       <%= link_to 'Cancel', root_path, class: "btn btn-default" %>

    </div>
  </div>
   </div>
   </div>
<% end %>
