<h1>Free Order</h1>

<p>
To order your free copy of the New Testament Recovery Version simply fill out the order form below.
</p>
<p>
Please note that Bibles for New Zealand can only service requests for Recovery Versions from New Zealand.
</p>
<p>
Please allow 4-6 weeks for delivery.
</p>
<%= form_for @order, html: {role: "form", class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <div class="col-xs-2">
      <%= f.required_label :title, class: "control-label"%>
      <%= f.select :title, options_for_select(['Mr', 'Mrs', 'Ms']), {include_blank: true}, class: "form-control"%>
    </div>
    <div class="col-xs-3">
      <%= f.required_label :first_name, class: "control-label" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="col-xs-3">
      <%= f.required_label :last_name, class: "control-label" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-8">
      <%= f.required_label :address, label_text: "Postal Address", class: "control-label" %>
      <%= f.text_field :address, class: "addressfinder_widget form-control", placeholder: "Start typing to see a list of addresses to choose from" %>
      <%= f.hidden_field :suburb %>
      <%= f.hidden_field :city_town %>
      <%= f.hidden_field :post_code %>
      <%= f.hidden_field :pxid %>
      <%= f.hidden_field :ta %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4">
      <%= f.label :phone, class: "control-label" %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>
    <div class="col-xs-4">
      <%= f.label :email, class: "control-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox col-xs-4">
      <label for="order_tertiary_student">
	<%= f.check_box :tertiary_student %>Are you a tertiary student?
      </label>
    </div>
    <div id="tertiary_institution" class="col-xs-4">
      <%= f.label :tertiary_institution, class: "control-label" %>
      <%= f.text_field :tertiary_institution, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4">
      <%= f.submit 'Order', class: "btn btn-default" %>
    </div>
  </div>
<% end %>
