<table class="ready-to-ship table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created At</th>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Items</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr class="">
        <td><%= order.id %></td>
        <td><%= order.created %></td>
        <td><%= order.full_name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.phone %></td>
        <td><%= order.items %></td>
        <td>
          <div class='btn-group-vertical'>
            <%= mark_duplicate_button(order.id) %>
            <%= link_to 'Edit', edit_admin_order_path(order.id), class: 'btn btn-default' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
