<h2>Potential Duplicate Orders Found!</h2>
<p>
  Please review the following possible duplicates before downloading labels for shipping. If an order is clearly a duplicate, click the "Mark as duplicate" button. You may also edit an order if you need to, for example to change the items in the order. Once you are happy that all duplicates are marked, and all orders ready to ship, click the "Download labels" button at the bottom of the page.
</p>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created At</th>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Items</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @potential_duplicates.each do |suspect_order| %>
      <tr class="pending-duplicate">
        <td><%= suspect_order.id %></td>
        <td><%= suspect_order.created %></td>
        <td><%= suspect_order.name %></td>
        <td><%= suspect_order.address %></td>
        <td><%= suspect_order.email %></td>
        <td><%= suspect_order.phone %></td>
        <td><%= suspect_order.items %></td>
        <td>
          <div class='btn-group-vertical'>
            <%= link_to 'Mark as Duplicate', mark_duplicate_admin_order_path(suspect_order.id), class: 'btn btn-danger', method: :put %>
            <%= link_to 'Edit', edit_admin_order_path(suspect_order.id), class: 'btn btn-default' %>
          </div>
        </td>
      </tr>
      <% suspect_order.potential_duplicates.each do |order| %>
        <% duplicate = Admin::DuplicateOrderPresenter.new(order) %>
        <tr>
          <td><%= duplicate.id %>
          <td><%= duplicate.created %></td>
          <td><%= duplicate.name %></td>
          <td><%= duplicate.address %></td>
          <td><%= duplicate.email %></td>
          <td><%= duplicate.phone %></td>
          <td><%= duplicate.items %></td>
          <td>
            <%= duplicate.shipped %>
            <% if duplicate.marked_as_duplicate? %>
              <%= link_to 'Unmark as Duplicate', unmark_duplicate_admin_order_path(duplicate.id), class: 'btn btn-success', method: :put %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
