<h2>Past Shipments</h2>

<div><%= page_entries_info @shipments %></div>
<%= paginate @shipments %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Downloaded at</th>
      <th>Number of labels</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
    <tr>
      <td><%= shipment.id %></td>
      <td><%= shipment.created_at.to_fs(:display) %></td>
      <td><%= shipment.orders.count %></td>
      <td>
        <div class='btn-group-vertical'>
          <%= link_to 'Download', admin_shipment_path(shipment.id, format: :csv), class: 'btn btn-default' %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @shipments %>
