<% if view_model.new_contacts_count > 0 %>
  <% view_model.district_views.each do |district_view| %>
    <%= render 'new_contacts_for_district', :district_view => district_view %>
  <% end %>
<% else %>
  <p>
    There are no new contacts for <%= view_model.coordinator.name %>.
  </p>
<% end %>
<br><br>
<% if view_model.has_contact_lists? %>
  <h4>Previously Downloaded Contact Lists</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Contact List ID</th>
        <th>District</th>
        <th>Downloaded at</th>
        <th>Number of contacts</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% view_model.contact_list_views.each do |contact_list_view| %>
        <tr>
          <td><%= contact_list_view.id %></td>
          <td><%= contact_list_view.district_name %></td>
          <td><%= contact_list_view.first_downloaded %></td>
          <td><%= contact_list_view.customer_count %></td>
          <td>
            <div class='btn-group-vertical'>
              <%= link_to 'Download', admin_contact_list_path(contact_list_view.id, format: :csv), class: 'btn btn-default' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
