<%= view_model.current_coordinator %>

<% if view_model.contacts.any? %>
  <div><%= page_entries_info view_model.contacts %></div>
  <%= paginate view_model.contacts %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Created</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <% view_model.contact_presenters.each do |presenter| %>
        <tr>
          <td><%= presenter.id %></td>
          <td><%= presenter.created %></td>
          <td><%= presenter.name %></td>
          <td><%= presenter.address %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate view_model.contacts %>
<% else %>
  <p>
    <% if view_model.selected_ta %>
      There are no new contacts for <%= view_model.selected_ta.name %>.
    <% else %>
      Please select a District to view the new contacts for it.
    <% end %>
  </p>
<% end %>

<% if view_model.contact_lists.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Downloaded at</th>
        <th>Number of contacts</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% view_model.contact_lists.each do |contact_list| %>
        <tr>
          <td><%= contact_list.id %></td>
          <td><%= contact_list.created_at.to_s(:display) %></td>
          <td><%= contact_list.customers.count %></td>
          <td>
            <div class='btn-group-vertical'>
              <%= link_to 'Download', admin_contact_list_path(contact_list.id, format: :csv), class: 'btn btn-default' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
