<% if district_view.has_new_contacts? %>
  <h4>New Contacts in <%= district_view.name %></h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Created</th>
        <th>Name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <% district_view.contact_views.each do |contact_view| %>
        <%= render 'contact', :contact => contact_view %>
      <% end %>
    </tbody>
  </table>
  <%= form_tag admin_contact_lists_path(format: 'csv'), class: 'download-csv-form' do %>
    <%= hidden_field_tag :district_id, district_view.district_id %>
    <%= submit_tag "Download to CSV", class: "btn btn-default" %>
    <% end %>
<% end %>
