<h2>Contacts for Co-ordinators</h2>

<%= form_tag admin_contact_lists_path, {class: "form-inline", role: "form", method: :get} do |f| %>
  <div class="form-group">
    <%= label_tag :coordinator_id, 'Co-ordinator' %>
    <%= select_tag :coordinator_id, options_for_select(@view_model.coordinators_for_select, params[:coordinator_id]), {class: "form-control"} %>
  </div>
  <%= submit_tag "Search", class: "btn btn-default" %>
<% end %>

<% if @view_model.coordinator %>
  <br><br>
  <%= render 'contact_list_info', view_model: @view_model %>
<% end %>
