<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BFNZ Administration</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'https://www.addressfinder.co.nz/assets/v2/widget.js' %>
    <%= javascript_include_tag 'application_main' %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "BFNZ Administration", admin_root_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Admin", admin_root_path %></li>
            <li><%= link_to "Public Website", root_path %></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Logout", logout_path, method: :post %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container-full">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <div class="row">
        <div class="col-sm-2">
          <div class="list-group">
            <%= link_to "New Customer", new_admin_customer_path, class: "list-group-item #{active_if_current_page(:orders, :new)}" %>
            <%= link_to "View Orders", admin_orders_path, class: "list-group-item #{active_if_current_page(:orders, :index)}" %>
            <%= link_to "Prepare Labels", admin_labels_path, class: "list-group-item #{active_if_current_page(:labels, :index)}" %>
            <%= link_to "View Shipments", admin_shipments_path, class: "list-group-item #{active_if_current_page(:shipments, :index)}" %>
            <%= link_to "Download Contacts", admin_contact_lists_path, class: "list-group-item #{active_if_current_page(:contact_lists, :index)}" %>
            <%= link_to "Manage Coordinators", admin_coordinators_path, class: "list-group-item #{active_if_current_page(:coordinators, :index)}" %>
            <%= link_to "Manage Inventory", admin_inventories_path, class: "list-group-item #{active_if_current_page(:inventories, :index)}" %>
          </div>
        </div>
        <div class="col-sm-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
