<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bibles for New Zealand</title>


    <%= favicon_link_tag '/favicon.ico' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://www.addressfinder.co.nz/assets/v2/widget.js' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <%= javascript_include_tag 'jquery.easing.min.js' %>
    <%= javascript_include_tag 'wow.min.js' %>
    <%= csrf_meta_tags %>


    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">




    <%= stylesheet_link_tag 'animate.min', media: 'all' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav class="navbar navbar-default" <%= "style='display: none'" if @disable_navbar %> >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <%= link_to(image_tag("/img/bfnz.svg",class: "imageblock"), root_path)%>
                <!--<%= link_to "Home", root_path, class: "navbar-brand" %>
                <img src="/BFNZlogo.png" alt="BFNZ Banner" style=width:9%;height:9% class="navbar-brand">-->

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="/orders/new"><h3>Order</h3> <i>Bibles and books</i></a>
                     <li><a class="page-scroll" href="/staticpages/Gospel/#gospel"> <h3>Share</h3><i>The Gospel </i></p></a>
                     <li><a class="page-scroll" href="/staticpages/Links/#study"><h3>Study</h3> <i>The word</i></a>
                    </li>
                     <li>
                        <a class="page-scroll" href="/#contact"> <h3>Contact</h3> <i>us</i> </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <%= yield %>
  </body>

<footer>
  <div class="container">
            <div class="row top-padding">
                <div class="col-lg-10 col-lg-offset-1 faq text-center"style=padding-top:20px;padding-bottom:20px;>
                    <a href="/#contact">Contact Us</a>&nbsp&nbsp
                    <a href="/#faith">Our Faith</a>&nbsp&nbsp
                    <a href="/staticpages/FAQ/#FAQ">FAQs</a>&nbsp&nbsp
                    <%= link_to 'Free Order', new_order_path%><br>
                    © 2002-2017 Bibles for New Zealand. All rights reserved. <br>
                    <a href="/staticpages/FAQ/#terms">Terms of Use</a>&nbsp&nbsp
                    <a href="/staticpages/FAQ/#privacy">Privacy Policy</a>
                </div>
            </div>
        </div>

</footer>

</html>
