<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bibles for New Zealand</title>


    <%= favicon_link_tag '/favicon.ico' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://www.addressfinder.co.nz/assets/v2/widget.js' %>
   <%= javascript_include_tag 'bootstrap.min.js' %>
   <%= javascript_include_tag 'jquery.easing.min.js' %>
   <%= javascript_include_tag 'wow.min.js' %>
    <%= csrf_meta_tags %>


    <!-- Bootstrap Core CSS -->

    <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>






        <%= stylesheet_link_tag 'font-awesome.min', media: 'all' %>
        <%= stylesheet_link_tag 'font-awesome', media: 'all' %>
    <!-- Plugin CSS -->

        <%= stylesheet_link_tag 'animate.min', media: 'all' %>
    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="css/creative.css" type="text/css">-->
        <%= stylesheet_link_tag 'creative', media: 'all' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
  <%= yield %>
</body>

<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 faq text-center"style=padding-top:80px;padding-bottom:20px;>
                    <a href="/#contact">Contact Us&nbsp&nbsp</a>
                    <a href="/#faith">Our Faith&nbsp&nbsp</a>
                    <a href="/staticpages/FAQ/#FAQ">FAQs&nbsp&nbsp</a>
                    <%= link_to 'Free Order', new_order_path%><br>
                    © 2016 Bibles for New Zealand. All rights reserved. <br><a href="/staticpages/FAQ/#terms">Terms of Use&nbsp&nbsp</a> <a href="/staticpages/FAQ/#privacy">Privacy Policy</a>
                </div>
            </div>
        </div>

</footer>

</html>
